<div style="width: 70%; margin-left: auto; margin-right: auto; margin-top: 100px;">
  <table style="width: 100%;">
    <th></th>
    <th *ngFor="let pe of data.metaData.dimensions.pe">
      {{ data.metaData.items[pe].name }}
    </th>
    <tbody>
      <tr *ngFor="let ou of data.metaData.dimensions.ou">
        <td>
          <table class="no-border">
            <tr>
              <td rowspan="3">{{ data.metaData.items[ou].name }}</td>
            </tr>
            <tr>
              <!-- <td>{{ data.metaData.items[ou].name }}</td> -->

              <td>
                <tr *ngFor="let dx of data.metaData.dimensions.dx">
                  <td>
                    {{ data.metaData.items[dx].name }}
                  </td>
                </tr>
              </td>
            </tr>
          </table>
        </td>
        <td *ngFor="let pe of data.metaData.dimensions.pe">
          <table class="no-border">
            <tr *ngFor="let dx of data.metaData.dimensions.dx">
              <td>
                {{ getSpecificValue(pe, ou, dx) }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
